{% extends 'base.html.twig' %}

{% block title %}Météo{% endblock %}

{% block body %}
    {# Formulaire de recherche pour rechercher une ville #}

    {% if weatherData is defined and weatherData[selectedCity] is defined %}
        <h1>Weather in {{ selectedCity }}</h1>
        <p>The current temperature is {{ weatherData[selectedCity].temperature }}°C.</p>
        <h2>5 Day / 3 Hour Forecast</h2>
        {% for item in weatherData[selectedCity].forecast %}
            <div>
                <p>Date: {{ item.dt_txt }}</p>
                <p>Weather: {{ item.weather[0].description }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No weather data available.</p>
    {% endif %}
{% endblock %}
